<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" [routerLink]="['/player/tab1']">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [routerLink]="['/player/tab2']">
      <ion-icon aria-hidden="true" name="trophy"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [routerLink]="['/player/tab3']">
      <ion-icon aria-hidden="true" name="notifications"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4" [routerLink]="['/player/tab4']">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
