<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Selecciona ubicación</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="false" class="no-modal-scroll">
  <div class="map-modal-container">
    <div id="google-map" class="map-modal-map" style="touch-action: none;"></div>
    <div class="map-modal-pin"></div>
    <ion-button expand="block" color="primary" (click)="confirmLocation()" style="margin-top: 1rem;">Usar esta ubicación</ion-button>
  </div>
</ion-content>
