<ion-card>
  <ion-card-content>
    <ion-card class="perfil-card">
      <div class="info">
        <div class="info-group">
          <label>Nombre:</label>
          <div>{{ userProfile?.name }}</div>
        </div>
        <div class="info-group">
          <label>Edad</label>
          <div>{{ userProfile?.age }}</div>
        </div>
        <div class="info-group">
          <label>Ciudad</label>
          <div>{{ userProfile?.city }}</div>
        </div>
        <div class="info-group">
          <label>Años de Experiencia</label>
          <div>{{ userProfile?.experiencia }}</div>
        </div>
      </div>
      <img [src]="userProfile?.fotoUrl || 'https://placehold.co/185x185'" class="player-photo" />
    </ion-card>

    <ion-card class="detalles-card">
      <ion-item lines="none">
        <ion-label>
          <p class="label">Equipo actual</p>
          <h2>{{ userProfile?.equipo }}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p class="label">Disponibilidad de viajar</p>
          <h2>{{ userProfile?.viaje }}</h2>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          <p class="label">Idiomas hablados</p>
          <h2>{{ userProfile?.idiomas }}</h2>
        </ion-label>
      </ion-item>
    </ion-card>

    <div class="extra-info">
      <div class="info-box">
        <p class="mini-label">Nacionalidad</p>
        <h3>{{ userProfile?.nacionalidad }}</h3>
      </div>
      <div class="info-box">
        <p class="mini-label">Fecha de nacimiento</p>
        <h3>{{ userProfile?.nacimiento }}</h3>
      </div>

    </div>

    <div class="acciones">
      <ion-button expand="block" color="success" shape="round">contactar</ion-button>
      <ion-button expand="block" color="dark" shape="round">Añadir a favoritos</ion-button>
    </div>
  </ion-card-content>
</ion-card>