<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenida</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenida</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
    <h1>¡Bienvenido a nuestra aplicación!</h1>
    <p *ngIf="!pendienteActivacion">Haz clic en el botón de abajo para ir a la página de inicio.</p>
    <ion-text color="warning" *ngIf="pendienteActivacion">
      <h2>Cuenta pendiente de activación</h2>
      <p>Tu cuenta aún no ha sido activada. Por favor, espera la verificación por parte del equipo antes de continuar.</p>
    </ion-text>
    <ion-button expand="full" (click)="irAHOME()" [disabled]="pendienteActivacion">Ir a Home</ion-button>
  </div>
</ion-content>

  </div>
</ion-content>
