<ion-content class="login-bg">
  <div class="login-center-wrapper">
    <div class="login-card animate-card">
      <div class="login-logo">
        <ion-icon name="football-outline" color="primary" style="font-size: 3.2rem;"></ion-icon>
      </div>
      <form (submit)="login()" autocomplete="on" class="login-form">
        <div class="login-input-group">
          <label class="login-label">Email</label>
          <ion-input type="email" [(ngModel)]="email" name="email" required inputmode="email" autocomplete="email" class="login-input"></ion-input>
        </div>
        <div class="login-input-group">
          <label class="login-label">Contraseña</label>
          <ion-input type="password" [(ngModel)]="password" name="password" required autocomplete="current-password" class="login-input"></ion-input>
        </div>
        <div *ngIf="showError" class="error-message">
          <ion-icon name="warning" color="danger" style="margin-right: 8px;"></ion-icon>
          {{ errorMessage }}
        </div>
        <div class="login-actions-row">
          <ion-button expand="block" class="login-btn" type="submit">
            <ion-icon slot="start" name="log-in-outline"></ion-icon>
            Ingresar
          </ion-button>
          <ion-button expand="block" class="login-btn-secondary" type="button" (click)="goToRegister()">
            <ion-icon slot="start" name="person-add-outline"></ion-icon>
            Crear cuenta nueva
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>