<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">{{ perfilUsuario?.name }}</ion-title>
    <ion-button (click)="logout()">Cerrar sesión</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="perfil-page">
  <app-tabs-header [activeTab]="activeTab" (tabChange)="slideTo($event)"></app-tabs-header>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- Slide 1: Perfil -->
      <div class="swiper-slide">
       
        <app-perfil-card [perfilUsuario]="perfilUsuario" [comuna]="perfilUsuario?.comuna" [ciudad]="perfilUsuario?.ciudad"></app-perfil-card>
      </div>

      <!-- Slide 2: Estadísticas -->
      <div class="swiper-slide">
        <ion-card>
          <ion-card-content>
            <app-estadisticas-card [perfilUsuario]="perfilUsuario"></app-estadisticas-card>
          </ion-card-content>
        </ion-card>
      </div>

      <!-- Slide 3: Galería -->
      <div class="swiper-slide">
        <app-galeria-card
          [galleryUrls]="galleryUrls"
          [uploadProgress]="uploadProgress"
          [selectImage]="selectImage.bind(this)"
        ></app-galeria-card>
      </div>
    </div>
  </div>
</ion-content>
