// Ionic Color Palette
:root {
  --ion-color-primary: #E9F0F2;
  --ion-color-primary-rgb: 233,240,242;
  --ion-color-primary-contrast: #225C73;
  --ion-color-primary-contrast-rgb: 34,92,115;
  --ion-color-primary-shade: #c8d7de;
  --ion-color-primary-tint: #f4f7f8;

  --ion-color-secondary: #BFD1D9;
  --ion-color-secondary-rgb: 191,209,217;
  --ion-color-secondary-contrast: #225C73;
  --ion-color-secondary-contrast-rgb: 34,92,115;
  --ion-color-secondary-shade: #a8b9c0;
  --ion-color-secondary-tint: #c8d7de;

  --ion-color-tertiary: #7698A6;
  --ion-color-tertiary-rgb: 118,152,166;
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #688697;
  --ion-color-tertiary-tint: #88a6b3;

  --ion-color-light: #35748C;
  --ion-color-light-rgb: 53,116,140;
  --ion-color-light-contrast: #fff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #2f677b;
  --ion-color-light-tint: #4a859a;

  --ion-background-color: #225C73;
  --ion-background-color-rgb: 34,92,115;
  --ion-text-color: #fff;
  --ion-text-color-rgb: 255,255,255;
  --ion-card-background: #e3f2fd;
}

ion-content {
  --background: var(--ion-background-color);
  --color: var(--ion-text-color);
}

.dark {
  --ion-card-background: #e3f2fd;
}
