<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="configuracion-content" [fullscreen]="true">
  <div class="configuracion-list">
    <!-- Add more config options here if needed -->
  </div>
  <div class="cerrar-sesion-bottom">
    <ion-button expand="block" color="danger" shape="round" fill="outline" (click)="logout()">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </div>
</ion-content>
