
<ion-content class="ion-padding">
      <ion-title class="tab3-title">Notificaciones</ion-title>

  <ion-list *ngIf="notifications.length > 0; else noNotifications">
    <ion-item *ngFor="let notif of notifications" lines="full">
      <ion-avatar slot="start">
        <ion-icon [name]="getIcon(notif.tipo)" size="large"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>{{ notif.contenido }}</p>
        <small *ngIf="notif.fecha">{{ notif.fecha | date:'medium' }}</small>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noNotifications>
    <p class="ion-text-center">No hay notificaciones nuevas.</p>
  </ng-template>

</ion-content>
