<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">{{ userData ? userData.nombre : '-' }}</ion-title>
    <ion-button *ngIf="userData" (click)="goBack()">Volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="perfil-page">
  <ion-spinner *ngIf="!userData" name="crescent" class="spinner-center"></ion-spinner>
  <ng-container *ngIf="userData">
    <div class="swiper-container">
      <app-tabs-header [activeTab]="activeTab" (tabChange)="slideTo($event)"></app-tabs-header>
      <div class="swiper-wrapper">
        <!-- Slide 1: Perfil -->
        <div class="swiper-slide">
          <app-perfil-card [perfilUsuario]="userData" [comuna]="userData.comuna" [ciudad]="userData.ciudad"></app-perfil-card>
        </div>

        <!-- Slide 2: Estadísticas -->
        <div class="swiper-slide">
          <ion-card>
            <ion-card-content>
              <app-estadisticas-card [perfilUsuario]="userData"></app-estadisticas-card>
            </ion-card-content>
          </ion-card>
        </div>

        <!-- Slide 3: Galería -->
        <div class="swiper-slide">
          <app-galeria-card [galleryUrls]="userData.galeria || []"></app-galeria-card>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>
