<ion-content class="ion-padding favoritos-content" [fullscreen]="true">
  <div class="favoritos-title-container">
    <h1 class="favoritos-title">Jugadores Favoritos</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let jugador of jugadoresFavoritos">
        <ion-card class="animate-card">
          <ion-img [src]="jugador.fotoPerfil || 'https://placehold.co/300x300?text=Jugador'" alt="Foto del jugador"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ jugador.nombre }}</ion-card-title>
            <ion-card-subtitle>Edad: {{ calcularEdad(jugador.fechaNacimiento) }} años</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <div *ngIf="jugadoresFavoritos.length === 0" class="mensaje-vacio">
      <ion-text color="medium">
        <p>No tienes jugadores favoritos por ahora.</p>
      </ion-text>
    </div>
  </ion-grid>
</ion-content>

