<ion-card class="galeria-card">
  <ion-card-header>
    <ion-card-title>Galería</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-button expand="block" (click)="selectImage()">Subir Imagen</ion-button>
    <ion-progress-bar *ngIf="uploadProgress !== null" [value]="uploadProgress"></ion-progress-bar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let imageUrl of galleryUrls">
          <div class="galeria-img-wrapper">
            <ion-spinner *ngIf="!loadedImages[imageUrl]" name="crescent" class="galeria-img-spinner"></ion-spinner>
            <ion-img [src]="imageUrl" alt="Imagen subida" (ionImgWillLoad)="onImgWillLoad(imageUrl)" (ionImgDidLoad)="onImgDidLoad(imageUrl)"></ion-img>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
